
#top{
width:40%;
border-style:solid;
border-color:red;
border-width:12px;
margin-left:10%;
padding-left:10%;
}
#bottom{
width:40%;
border-style:solid;
border-color:green;
margin-top:20%;
margin-left:10%;
}
